@media (max-width: 414px) {
    /* HEADER */
    .header__info h1 {
        font-size: 4rem;
    }
    /* ABOUT ME */
    #main{
        height: auto;
    }

    .about-me{
        display: flex;
        flex-direction: column;
    }

    /* SKILLS */
    .skills__info {
        display: flex;
        gap: 4rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skill {
        width: 10rem;
        height: 10rem;
    }

    .skill__title {
        font-size: 1.6rem;
        transform: translateY(0);
        opacity: 1;
    }
}